/*
 * Copyright 2015-2019  ?? Ilgar Lunin, Pedro Cabrera
 * Copyright 2022  Stephan Helma
 *
 * This file is part of Trails.
 *
 * Trails is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Trails is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with Trails. If not, see <https://www.gnu.org/licenses/>.
 */

QWidget
{
    %if (TextColor != "None"):
    color: {{TextColor}};                      /*Main Text Color*/
    %endif
    %if (BgColor != "None"):
    background-color: {{BgColor}};           /*BG Color*/
    %endif
    %if (MainColorLighter != "None"):
    selection-background-color: {{MainColorLighter}}; /*Main Color SemiTransparent*/
    %endif
}

QWidget#Docked
{
    %if (ButtonColor != "None"):
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 {{ButtonGradient1Color}},
                                stop: 0.6 {{ButtonColor}},
                                stop: 1.0 {{ButtonGradient3Color}});  /*Gradient For Push Buttons And ComboBox*/
    %endif
    border: 1px solid;
    %if (BorderColor != "None"):
    border-color: {{BorderColor}};           /*Border Color*/
    %endif
}

/* QComboBox */

QComboBox
{
    %if (ButtonColor != "None"):
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 {{ButtonGradient1Color}},
                                stop: 0.6 {{ButtonColor}},
                                stop: 1.0 {{ButtonGradient3Color}});  /*Gradient For Push Buttons And ComboBox*/
    %endif
    padding: 2px;
    border: 1px solid;
    %if (BorderColor != "None"):
    border-color: {{BorderColor}};           /*Border Color*/
    %endif
    border-style: outset;
    border-width: 1px;
    border-radius: 1px;
}

QComboBox::drop-down
{
    %if (DropdownColor != "None"):
    background-color: {{DropdownColor}};               /*Combo Box Black Bg On Arrow*/
    %endif
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;
    border-left-width: 0px;
    border-top-right-radius: 1px; /* same radius as the QComboBox */
    border-bottom-right-radius: 1px;
}

QComboBox::down-arrow
{
     image:  url(":/double_arrow.png");
}

/* QDockWidget */

QDockWidget
{
    border: 1px solid;
    %if (BorderColor != "None"):
    border-color: {{BorderColor}};           /*Border Color*/
    %endif
}

QDockWidget::close-button,
QDockWidget::float-button
{
    background: transparent;
    border: 1px solid transparent;
    padding: 0px;
}

QDockWidget::close-button:hover,
QDockWidget::float-button:hover
{
    %if (MainColorLighter != "None"):
    background: {{MainColorLighter}};  /*Main Color SemiTransparent*/
    %endif
}

/* QDoubleSpinBox -> QSpinBox */

/* QGraphicsView */

QGraphicsView
{
    border: 1px solid;
    %if (BorderColor != "None"):
    border-color: {{BorderColor}};           /*Border Color*/
    %endif
}

/* QHeader */

QHeaderView::section
{
    %if (BgColorBright != "None"):
    background-color: {{BgColorBright}};          /*Bright Bg Color*/
    %endif
}

/* QListWidget */
QListWidget
{
    border: 1px solid;
    %if (BorderColor != "None"):
    border-color: {{BorderColor}};           /*Border Color*/
    %endif
}

/* QLineEdit */

QLineEdit
{
    %if (InputFieldColor != "None"):
    background-color: {{InputFieldColor}};           /*Input Fields*/
    %endif
    border: 1px solid;
    %if (BorderColor != "None"):
    border-color: {{BorderColor}};           /*Border Color*/
    %endif
    %if (MainColorLighter != "None"):
    selection-background-color: {{MainColorLighter}}; /*Input Text Selected BG*/
    %endif
    %if (TextSelectedColor != "None"):
    selection-color: {{TextSelectedColor}};            /*Input Text Selected color*/
    %endif
}

/* QMenu */

QMenu
{
    %if (BgColorBright != "None"):
    background-color: {{BgColorBright}};          /*Bright Bg Color*/
    %endif
    margin: 2px; /* some spacing around the menu */
}

QMenu::item
{
    padding: 2px 25px 2px 20px;
    border: 1px solid transparent; /* reserve space for selection border */
}

QMenu::icon:checked  /* appearance of a 'checked' icon */
{
    %if (MainColorLighter != "None"):
    background: {{MainColorLighter}};  /*Main Color SemiTransparent*/
    %endif
    border: 1px inset gray;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
}

QMenu::separator
{
    %if (MainColorLighter != "None"):
    background: {{MainColorLighter}};  /*Main Color SemiTransparent*/
    %endif
    height: 2px;
    margin-left: 10px;
    margin-right: 5px;
}

QMenu::indicator
{
    width: 13px;
    height: 13px;
}

/* QPlainTextEdit */

QPlainTextEdit
{
    %if (InputFieldColor != "None"):
    background-color: {{InputFieldColor}};           /*Input Fields*/
    %endif
    %if (MainColorLighter != "None"):
    selection-background-color: {{MainColorLighter}}; /*Input Text Selected BG*/
    %endif
    %if (TextSelectedColor != "None"):
    selection-color: {{TextSelectedColor}};            /*Input Text Selected color*/
    %endif
}

/* QProgressBar */

QProgressBar::chunk:horizontal
{
    %if (MainColor != "None"):
    background:                {{MainColor}};  /*Main Color */
    %endif
}

/* QPushButton */

QPushButton
{
    %if (ButtonColor != "None"):
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 {{ButtonGradient1Color}},
                                stop: 0.6 {{ButtonColor}},
                                stop: 1.0 {{ButtonGradient3Color}});  /*Gradient For Push Buttons And ComboBox*/
    %endif
    border: 1px solid;
    %if (BorderColor != "None"):
    border-color: {{BorderColor}};           /*Border Color*/
    %endif
    border-style: outset;
    border-width: 1px;
    border-radius: 1px;
    padding: 3px;
}

QPushButton::pressed
{
    %if (MainColor != "None"):
    background: {{MainColor}};  /*Main Color */
    %endif
    border-style: inset;
}

QPushButton::checked
{
    %if (MainColorLighter != "None"):
    background: {{MainColorLighter}};  /*Main Color SemiTransparent*/
    %endif
}

/* QScrollArea */

QScrollArea
{
    border: 1px solid;
    %if (BorderColor != "None"):
    border-color: {{BorderColor}};           /*Border Color*/
    %endif
}


/* QScrollBar */

QScrollBar:vertical,
QScrollBar:horizontal
{
    width: 15px;
    height: 15px;
    margin: 0px 0 0px 0;
    %if (BorderColor != "None"):
    border: 1px solid {{BorderColor}};           /*Border Color*/
    %endif
}

QScrollBar::handle:vertical,
QScrollBar::handle:horizontal
{
    %if (BgColorBright != "None"):
    background-color: {{BgColorBright}};          /*Bright Bg Color*/
    %endif
    border: 0px;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal,
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    %if (BgColorDarker != "None"):
    background: {{BgColorDarker}};                /*Darker Bg Color*/
    %endif
}

QScrollBar::add-line:vertical,QScrollBar::add-line:horizontal,
QScrollBar::sub-line:vertical,QScrollBar::sub-line:horizontal
{
    height: 0px;
    %if (BgColorDarker != "None"):
    background: {{BgColorDarker}};                /*Darker Bg Color*/
    %endif
    border: 1px solid;
    %if (BorderColor != "None"):
    border-color: {{BorderColor}};           /*Border Color*/
    %endif
}

/* QSpinBox, QDoubleSpinBox */

QSpinBox,
QDoubleSpinBox
{
    %if (InputFieldColor != "None"):
    background-color: {{InputFieldColor}};           /*Input Fields*/
    %endif
}

QSpinBox::hover,
QDoubleSpinBox::hover
{
    %if (TextSelectedColor != "None"):
    selection-color: {{TextSelectedColor}};            /*Input Text Selected color*/
    %endif
    %if (MainColorLighter != "None"):
    selection-background-color: {{MainColorLighter}}; /*Input Text Selected BG*/
    %endif
}

/* QToolBar */

QToolBar {
    border-width: 0px;
}

/* QToolButton */

QToolButton::pressed
{
    %if (MainColor != "None"):
    background: {{MainColor}};  /*Main Color */
    %endif
}

QToolButton::checked
{
    %if (MainColorLighter != "None"):
    background: {{MainColorLighter}};  /*Main Color SemiTransparent*/
    %endif
    border: none;
}

/* QToolTip */

QToolTip
{
    %if (TextColor != "None"):
    color: {{TextColor}};                      /*Main Text Color*/
    %endif
    %if (BgColorBright != "None"):
    background-color: {{BgColorBright}};          /*Bright Bg Color*/
    %endif
    border: 1px solid;
    %if (BorderColor != "None"):
    border-color: {{BorderColor}};           /*Border Color*/
    %endif
}

/* QTabBar */

QTabBar::tab
{
    border: 1px solid;
    %if (BorderColor != "None"):
    border-color: {{BorderColor}};           /*Border Color*/
    %endif
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-style: none;
}

QTabBar::tab:selected
{
    %if (BgColorBright != "None"):
    background-color: {{BgColorBright}};          /*Bright Bg Color*/
    %endif
}

QTabBar::tab:!selected
{
    %if (BgColor != "None"):
    background-color: {{BgColor}};           /*BG Color*/
    %endif
}

QTabBar::tab:!selected:hover
{
    %if (MainColorLighter != "None"):
    background: {{MainColorLighter}};  /*Main Color SemiTransparent*/
    %endif
}

QTabBar::tab:top, QTabBar::tab:bottom
{
    min-width: 8ex;
    margin-right: -1px;
    padding: 2px 2px 2px 2px;
}

QTabBar::tab:top:!selected
{
    margin-top: 5px;
}

QTabBar::tab:bottom:!selected
{
    margin-bottom: 3px;
}

QTabBar::tab:top:last, QTabBar::tab:bottom:last,
QTabBar::tab:top:only-one, QTabBar::tab:bottom:only-one
{
    margin-right: 0;
}

QTabBar::tab:left,
QTabBar::tab:right
{
    min-height: 8ex;
    margin-bottom: -1px;
    padding: 5px 5px 5px 5px;
}

QTabBar::tab:left:!selected,
QTabBar::tab:right:!selected
{
    margin-right: 3px;
}

/* QTabWidget */

QTabWidget::pane
{
    border: 1px solid;
    %if (BorderColor != "None"):
    border-color: {{BorderColor}};           /*Border Color*/
    %endif
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-style: none;
}

/* QUndoView */

QUndoView
{
    border: 1px solid;
    %if (BorderColor != "None"):
    border-color: {{BorderColor}};           /*Border Color*/
    %endif
}

/* **** */

*::item::selected
{
    %if (MainColor != "None"):
    background: {{MainColor}};  /*Main Color */
    %endif
}

*::item::hover
{
    %if (MainColorLighter != "None"):
    background: {{MainColorLighter}};  /*Main Color SemiTransparent*/
    %endif
}

*::item::alternate
{
    %if (BgColor != "None"):
    background-color: {{BgColor}};           /*BG Color*/
    %endif
}
